/*
Theme Name:   	Storefront Child
Theme URI:    	https://github.com/stuartduff/storefront-child-theme
Author:       	couleurmate
Author URI:     http://stuartduff.com
Template:     	storefront
Description:  	This is a blank child theme for WooThemes StoreFront theme
Version:      	1.0.0
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  	storefront
Tags:         	black, white, light, two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
Storefront is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
FontAwesome License: SIL Open Font License - http://scripts.sil.org/OFL
Images License: GNU General Public License v2 or later
*/
/*
 * Add your own custom css below this text.
 */

body {
    font-family: "Lato", "Neue Helvetica", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

/* Header */

.site-header {
	background: #5f9421;
	padding: 0;
    margin: 0;
}

#masthead {
    margin-bottom: 0;
    position: relative;
}

#masthead .site-branding {
    position: absolute;
    bottom: 0;
}

.storefront-breadcrumb {
    margin: 0;
}

.storefront-primary-navigation {
    background: #ffffff;
    height: 150px;
}

#site-navigation {
    margin-bottom: 0;
    padding-left: 230px;
}

.primary-navigation, #site-header-cart {
    margin-top: 50px;
}

.secondary-navigation {
    margin-bottom: 0;
}

/* Products page */

.woocommerce-products-header__title {
    display: none;
}

ul.menu li a {
 color: #fff;}

 .main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a {
 padding: 10px 15px;}

	.main-navigation ul li a:hover {
		color: #5f9421;
		background-color: #fff;}

.storefront-secondary-navigation.woocommerce-active .site-header .secondary-navigation {
	float: right;
	margin-right: 0;}

.secondary-navigation ul.menu a {
	color: #fff;
	font-size: 1em;
	line-height: 1.5;
	font-weight: 700}

ul.menu li a {
	color: #000;}

#menu-primary-menu {
	margin-left:0;
	float:right;}

	#menu-item-3412 {
		margin-right: 2em;}

.main-navigation {
		margin-bottom: 5%}

.site-header-cart .cart-contents {
	padding: 0.618em 0;}

/* Sidebar */

#secondary {
    background: #EC6707;
    height: 100vh;
    padding-top: 3em;
}

#secondary li:before {
    display:none;
}

#secondary li {
    margin-bottom: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    position: relative;
}

#secondary li:hover {
    background: #C84700;
}

#secondary li a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}

#secondary li ul {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 100%;
    margin-top: 0;
    min-width: 100%;
    background: #C84700;
    margin-left: 0;
}

#secondary li:hover ul {
    visibility: visible;
}

/* add custom html as a widget */#custom_html-2 {
	margin: 0 1em 0.706326em}

/* Main page */

.woocommerce-message {
	border-left-color: #5f9421 !important;}

.menu-item {
	text-transform: uppercase;}

a{
	font-weight:700}

.demo_store {
	background-color: #0f834d;}


/* Product card */

ul.products li.product {
    border: 1px solid #CCC;
}

ul.products li.product img {
    margin-bottom: 1em;
}

ul.products li.product .price {
    font-size: 1.2rem;
    text-align: right;
    padding: 0 1em;
}

ul.products li.product .button {
	margin-bottom: 0;}

ul.products li.product .woocommerce-loop-product__title {
	color: #4D8655;
	text-align: left;
	font-weight: 600;
    padding-left: 1em;
    padding-right: 1em;
    /* Truncate string with ellipsis */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

ul.products li.product .add_to_cart_button {
    background: #76B729;
    color: #FFFFFF;
    text-align: right;
    width: 100%;
    padding: 1em 1em;
}

ul.products li.product .add_to_cart_button.add_to_cart_button:before {
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    float: left;
    content: "\f291";
    font-weight: 300;
    margin-right: 1em;
}

.single_add_to_cart_button.button.alt {
	background : #5f9421;}


.woocommerce-Price-amount.amount {
	color: #4D8655 !important;}

.woocommerce-product-details__short-description {
	display:none;}

		/* Attributes */
		table th {
			display: none;}

		table tbody td {
			background-color: transparent;
			color: #4D8655;}


	/* Checkout */
.star-rating span:before, .quantity .plus, .quantity .minus, p.stars a:hover:after, p.stars a:after, .star-rating span:before, #payment .payment_methods li input[type=radio]:first-child:checked+label:before {
	color: #4D8655;}

.woocommerce-privacy-policy-link, .woocommerce-terms-and-conditions-link {
	color: #F46937}

.woocommerce-shipping-calculator > p:first-child a::before {
	content:"\f206"}

a.shipping-calculator-button {
	color: #EC6707;}

ul.products li.product .woocommerce-LoopProduct-link {
    position: relative;
}

ul.products li.product .woocommerce-LoopProduct-link .onsale {
    position: absolute;
    top: 8px;
    right: 8px;
}

ul.products li.product .woocommerce-LoopProduct-link .star-rating {
    display: none;
}

.aurayonbio__after-item-title {
    min-height: 22px;
    text-align: left;
    margin: 1em;
}

.aurayonbio__product-attributes {
    list-style-type: none;
    margin: 0;
}

.aurayonbio__product-attributes li {
    color: #000000;
}
